<link rel="stylesheet" href="/css/addStudent.css">
<nav>
<a href="/employee/dashboard">Home</a>
</nav>
<section>
    <h1>Add New Student </h1>
<form action="/employee/addstudent" method="POST">
    <input id="batch" type="text" name="batch" placeholder="Batch Details" required><br><br>
    <input id="name" type="text" name="name" placeholder="Student Name" required><br><br>
    <input id="email" type="text" name="email" placeholder="example@email.com" required><br><br>
    <input id="college" type="text" name="college" placeholder="college" required><br><br>
    <input id="status" type="text" name="status" placeholder="status" required><br><br>
    <input id="DSA_FinalScore" type="text" name="DSA_FinalScore" placeholder="DSA Score" required><br><br>
    <input id="WebD_FinalScore" type="text" name="WebD_FinalScore" placeholder="WebD Score" required><br><br>
    <input id="React_FinalScore" type="text" name="React_FinalScore" placeholder="React_FinalScore" required><br><br>
    <button>Submit</button>

</form>
</section>