<link rel="stylesheet" href="/css/formForInterview.css">
<nav>
    <a href="/employee/dashboard">Home</a>
</nav>
<section>
    <h1>Allocate Student To An Interview</h1>
    <form action="/student/interview_allocation" method="POST">
        <input id="companyName" type="text" name="companyName" placeholder="Enter Company Name" required><br><br>
        <input id="date" type="date" name="date" placeholder="Enter Date Of Interview" required><br><br>
        <input id="studentID" type="hidden" name="studentID" value=<%=id %>>
        <button id="button">Submit</button>

    </form>
</section>