<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%= title %>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="/image/logo.png">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
    <script rel="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body>
    <%- body %>
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
             new Noty({
                 then: 'relax',
                 text: "<%= flash.success %>",
                 type: 'success',
                 layout: 'topRight',
                 timeout: 1500
             }).show()
             <% } %>
             <% if (flash.error && flash.error.length > 0) {%>
             new Noty({
                 then: 'relax',
                 text: "<%= flash.error %>",
                 type: 'error',
                 layout: 'topRight',
                 timeout: 1500
             }).show()
             <% } %>
     </script>
</body>

</html>